body {
  margin: 0;
  padding: 0;
  background: #141211;
  color: #e28d8d;
  font-family: "Cinzel", serif;
}

/* Typography */

h1,
h2 {
  font-family: "IM Fell English SC", serif;
}

header {
  background-color: #222222;
  font-family: "Playfair Display", serif; /*This is for heading*/
}

/* Navigation */

ul {
  text-align: center;
  padding: 0.938em 30px; /* 15px */
  margin: 0;
}

li {
  list-style-type: none;

  padding: 5px 0;
}

li:not(:last-child) {
  border-bottom: 1px dotted #e28d8d;
}

li a {
  text-decoration: none;
  color: #e28d8d;
  font-family: "Cinzel", serif;
  font-size: 0.938rem; /* 15px */
}

img {
  width: 200px;
  border-radius: 50%;
}
